# Created by https://www.toptal.com/developers/gitignore/api/react
# Edit at https://www.toptal.com/developers/gitignore?templates=react

# Ignorar bin y obj
bin/
obj/
### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

# End of https://www.toptal.com/developers/gitignore/api/react

# Base de datos local (cada quien genera la suya con las migraciones)
gamehosting.db
gamehosting.db-shm
gamehosting.db-wal

# Imagenes subidas en local durante pruebas (no son parte del codigo fuente)
images/*
!images/.gitkeep